
<style type="text/css">
<!--
.ul-link {
	list-style: none;
	margin: 0px 0px 0px 0;
	padding: 0px 0px 0 0px;
}
.ul-link li{
	margin: 0;
	padding: 0 0 2px 15px;
	background: url(portal/images/link.png) no-repeat left center;
	width: 200px
}
.ul-link a {
	padding: 0 0 0 4px;
}
//-->
</style>

<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_LINKS}</th>
	</tr>
	<tr class="row1">
		<td>
			<ul class="ul-link">
				<li><a href="https://pioneerdvd.rpc1.org/" title="&gt;NIL:'s Pioneer Page" onclick="this.target='_blank'">&gt;NIL:'s Pioneer Page</a></li>
				<li><a href="https://backfire.rpc1.org/" title="BackFire's Toshiba Page" onclick="this.target='_blank'">BackFire's Toshiba Page</a></li>
				<li><a href="https://codeguys.rpc1.org/patchers.html" title="CodeGuys' Patchers" onclick="this.target='_blank'">CodeGuys' Patchers</a></li>
				<li><a href="https://dhc014.rpc1.org/" title="dhc014's Liteon" onclick="this.target='_blank'">dhc014's Liteon Page</a></li>
				<li><a href="https://dvrflash.rpc1.org/" title="DVRFlash Page" onclick="this.target='_blank'">DVRFlash Utility</a></li>
				<li><a href="https://archive.rpc1.org/flashman/" title="Flashman's Collection" onclick="this.target='_blank'">Flashman's Collection</a></li>
				<li><a href="https://hijacker.rpc1.org/toshiba/" title="Toshiba Firmware" onclick="this.target='_blank'">Hijacker's Toshiba Page</a></li>
				<li><a href="https://tdb.rpc1.org/" title="The Dangerous Brothers" onclick="this.target='_blank'">The Dangerous Brothers</a></li>
			</ul>
		</td>
	</tr>
</table>
<br />